<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- ion-back-button retorna a página anterior -->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Botoes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h1>Botões</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis placerat orci. Nunc mollis at eros ut venenatis. Nullam ac nibh rutrum odio gravida porta. Sed lacus lacus, ultricies ut vehicula non, tincidunt at dolor.
  </p>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      Todos os direitos reservados
    </ion-title>
  </ion-toolbar>
</ion-footer>
