<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sistemas de grids
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <h4>Grid</h4>
  <!-- grid cria um container onde contem linhas e colunas -->
  <ion-grid>
    <!-- row cria uma linha no gred -->
    <ion-row>
      <!-- col cria coluna de espaso na row e size define o total de colunas -->
      <ion-col size="8">Conteúdo 1</ion-col>
      <ion-col size="4">Conteúdo 2</ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4">Conteúdo 1</ion-col>
      <ion-col size="4">Conteúdo 2</ion-col>
      <ion-col size="4">Conteúdo 3</ion-col>
    </ion-row>

  </ion-grid>
  

  <h4>Grid - offset</h4>
   <ion-grid>
    <ion-row>
      <ion-col size="5">Conteúdo 1</ion-col>
      <!-- offset é a quantidade de colunas antes da coluna definada -->
      <ion-col size="4" offset="3">Conteúdo 2</ion-col>
    </ion-row>
  </ion-grid>


  <h4>Grid - alinhamento textos (ion-text-start, ion-text-end, ion-text-center)</h4>
  <ion-grid>

    <!-- Alinhamento ion-text-start, este alinhamento é padrão -->
    <ion-row class="ion-text-start">
      <ion-col size="4">1 start</ion-col>
      <ion-col size="4">2 start</ion-col>
      <ion-col size="4">3 start</ion-col>
    </ion-row>

    <!-- Alinhamento ion-text-end -->
    <ion-row class="ion-text-end">
      <ion-col size="4">1 end</ion-col>
      <ion-col size="4">2 end</ion-col>
      <ion-col size="4">3 end</ion-col>
    </ion-row>

    <!-- Alinhamento ion-text-center -->
    <ion-row class="ion-text-center">
      <ion-col size="4">1 center</ion-col>
      <ion-col size="4">2 center</ion-col>
      <ion-col size="4">3 center</ion-col>
    </ion-row>

    <!-- Alinhamento nas colunas -->
    <ion-row>
      <ion-col class="ion-text-start" size="4">1 start</ion-col>
      <ion-col class="ion-text-end" size="4">2 end</ion-col>
      <ion-col class="ion-text-center" size="4">3 center</ion-col>
    </ion-row>

  </ion-grid>


  <h4>Grid - alinhamento vertical</h4>
   <ion-grid>

    <ion-row class="ion-align-items-start">
      <ion-col size="4">1</ion-col>
      <ion-col size="4">2</ion-col>
      <ion-col size="4">3 <br/> + <br/> + </ion-col>
    </ion-row>

    <br/>

    <ion-row class="ion-align-items-end">
        <ion-col size="4">1</ion-col>
        <ion-col size="4">2</ion-col>
        <ion-col size="4">3 <br/> + <br/> + </ion-col>
    </ion-row>
    
    <br/>
    
    <ion-row class="ion-align-items-center">
        <ion-col size="4">1</ion-col>
        <ion-col size="4">2</ion-col>
        <ion-col size="4">3 <br/> + <br/> + </ion-col>
    </ion-row>
    
    </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      Todos os direitos reservados
    </ion-title>
  </ion-toolbar>
</ion-footer>
