<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Componentes - Entrada de dados.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  
  <h4>Configurando input position (floating, fixed e stacked)</h4>

  <ion-item>
    <ion-label position="floating">floating:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">fixed:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">stacked:</ion-label>
    <ion-input></ion-input>
  </ion-item>


  <h4>Entrada de dados (value, placeholder, clearInput)</h4>

  <ion-item>
    <ion-input value="Value"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input placeholder="Placeholder"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>clearInput:</ion-label>
    <ion-input clearInput placeholder="Limpa a entrada de dados"></ion-input>
  </ion-item>


  <h4>Tipos de entradas (text, number, password, email, tel, url, search)</h4>

  <ion-item>
    <ion-label>Text:</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Number:</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Password:</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>E-mail:</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Tel:</ion-label>
    <ion-input type="tel"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>URL:</ion-label>
    <ion-input type="url"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Search:</ion-label>
    <ion-input type="search"></ion-input>
  </ion-item>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      Todos os direitos reservados
    </ion-title>
  </ion-toolbar>
</ion-footer>
