<!-- Comando para executar o app "ionic serve" -->
<!-- Area de cabeçalho -->
<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Meu App
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Area de conteudo -->
<ion-content color="dark" [fullscreen]="true" class="ion-padding">
  
  <h4>Cartões</h4>

  <!-- Container do cartão -->
  <ion-card color="success">  <!-- mode é o tipo de visualização para dipositivo, que neste caso é android -->
    <!-- Imagem do cartão -->
    <ion-img src="https://images.unsplash.com/photo-1532704384331-d96a9862ec11?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY4NTYyMTcwNw&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080"></ion-img>
    <!-- Conteudo do cartão -->
    <ion-card-content>
      <!-- Título do cartão -->
      <ion-card-title>
        Lorem ipsum dolorem sit amet
      </ion-card-title>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consequat at massa volutpat sodales. Etiam id elit ac felis tincidunt tristique. Nullam vitae est justo. </p>
    </ion-card-content>
  </ion-card>

  <!-- Container do cartão -->
  <ion-card color="danger" mode="ios">  <!-- mode é o tipo de visualização para dipositivo, que neste caso é ios, se o mode não for definido, ele se ajusta ao dispositivo -->
    <!-- Imagem do cartão -->
    <ion-img src="https://images.unsplash.com/photo-1532704384331-d96a9862ec11?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY4NTYyMTcwNw&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080"></ion-img>
    <!-- Conteudo do cartão -->
    <ion-card-content>
      <!-- Título do cartão -->
      <ion-card-title>
        Lorem ipsum dolorem sit amet
      </ion-card-title>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consequat at massa volutpat sodales. Etiam id elit ac felis tincidunt tristique. Nullam vitae est justo. </p>
    </ion-card-content>
  </ion-card>

  <!-- Container do cartão -->
  <ion-card color="secondary" mode="md">  <!-- mode é o tipo de visualização para dipositivo, que neste caso é android -->
    <!-- Imagem do cartão -->
    <ion-img src="https://images.unsplash.com/photo-1532704384331-d96a9862ec11?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY4NTYyMTcwNw&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080"></ion-img>
    <!-- Conteudo do cartão -->
    <ion-card-content>
      <!-- Título do cartão -->
      <ion-card-title>
        Lorem ipsum dolorem sit amet
      </ion-card-title>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consequat at massa volutpat sodales. Etiam id elit ac felis tincidunt tristique. Nullam vitae est justo. </p>
    </ion-card-content>
  </ion-card>


  <h4>Cartões com cabeçalho</h4>
  <!-- Cartões com cabeçalho -->
  <ion-card color="light">  <!-- mode é o tipo de visualização para dipositivo, que neste caso é android -->

    <!-- Imagem -->
    <ion-img src="https://images.unsplash.com/photo-1532704384331-d96a9862ec11?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY4NTYyMTcwNw&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080"></ion-img>

    <!-- Cabeçalho -->
    <ion-card-header>

      <!--Titulo-->
      <ion-card-title>
        Lorem ipsum dolorem sit amet
      </ion-card-title>

      <!--Subtitulo-->
      <ion-card-subtitle>
        Nullam vitae est justo.
      </ion-card-subtitle>

    </ion-card-header>

    <ion-card-content>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consequat at massa volutpat sodales. Etiam id elit ac felis tincidunt tristique. Nullam vitae est justo. </p>
    </ion-card-content>

  </ion-card>


  <!-- Cartão com listagem de itens -->
  <h4>Cartão com listagem de itens</h4>
  


</ion-content>

<!-- Area de rodapé -->
<ion-footer>
  <ion-toolbar color="dark">
    <ion-title>
      Rodapé
    </ion-title>
  </ion-toolbar>
</ion-footer>
